
#backBar {
    position: fixed;
    background: white;
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
    top: 10px;
    left: 10px;
    z-index: 10;
}

#backBarTitle {
    font-size: 17px;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #666;
}

.mainSheet {
    background-color: white;
    padding-bottom: 20px;
    margin: 0 auto;
    max-width: 800px;
    padding-top: 75px;
}


/* ----------------- */
/* Overall Standings */
/* ----------------- */

.mainStandingsHeader {
    width: 100%;
    text-align: center;
    font-size: 35;
    font-weight: 600;
    color: #333;
    padding-bottom: 15px;
    padding-top: 15px;
}

.mainStandingsSubtitle {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 15;
    font-weight: 400;
    color: #999;
    padding-bottom: 15px;
    padding-top: 15px;
}


.standingsHeader {
    width: 100%;
    text-align: center;
    font-size: 30;
    font-family: Georgia;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 20px;
}

.fratHeader {
    color: rgb(16,80,148);
}

.sratHeader {
    color: rgb(206, 155, 16);
}

.placeRow: {
    width: 100%;
    text-align: center;
}

.chapterNameTable {
    display: inline;
}

.mainSheet table {
    border-collapse: separate;
}

.chapterLetters {
    font-size: 30px;
    width: 100%;
    margin-bottom: -2px;
    padding-left: 15px;
    font-family: serif;
}

.chapterName {
    font-family: sans-serif;
    padding-left: 15px;
    padding-right: 5px;
    font-size: 16px;
    max-width: 175px;
}

.chapterPoints {
    font-size: 20px;
    font-family: sans-serif;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.contentTable {
    margin: 0 auto;
    border-collapse: collapse;
}

.contentRow > td {
    padding-top: 15px;
    padding-bottom: 15px;
}

#fraternities .contentRow:nth-child(even) {
    background-color: rgb(239, 246, 255);
}

#sororities .contentRow:nth-child(even) {
    background-color: rgb(255, 250, 232);
}

#fraternities {
    width: 100%;
}

#sororities {
    width: 100%;
    padding-bottom: 25px;
}

.row {
    margin: 0 auto;
}

.disclosureIndicator {
    width: 7.5px;
    margin-left: 5px;
    margin-right: 15px;
}

#sororities .contentRow:nth-child(odd) .disclosureIndicator {
    opacity: 0.8;
}

#fraternities .contentRow:nth-child(odd) .disclosureIndicator {
    opacity: 0.8;
}

.aBlock {
    display: block;
}


/* ------------------ */
/* Individual Chapter */
/* ------------------ */

#bigChapterLetters {
    font-size: 50;
    text-align: center;
    font-family: serif;
}

#bigChapterName {
    font-size: 20;
    font-family: sans-serif;
    text-align: center;
}

#bigChapterPoints {
    padding-top: 30px;
    font-size: 20;
    text-align: center;
    font-family: sans-serif;
}

#chapterEvents {
    padding-top: 30px;
    margin: 0 auto;
    max-width: 500px;
    padding-left: 20px;
    padding-right: 20px;
}

#chapterEvents contentRow > td {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

#chapterEventsTitle {
    font-size: 25;
    text-align: left;
    font-family: sans-serif;
    padding-bottom: 15px;
    padding-top: 10px;
}

#chapterEventsTable {
    font-family: sans-serif;
    width: 100%;
}

.chapterEventName {
    font-size: 21;
    margin-left: 15px;
    padding-bottom: 15px;
    padding-top: 5px;
}

.chapterEvent {
    margin-left: 40px;
}

.chapterPointName {
    font-size: 18;
    padding-bottom: 10px;
}

.chapterPointValue {
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.zeroPointItem {
    color: rgba(0, 0, 0, 0.4)
}

#events-frat .contentRow:nth-child(odd) {
    background-color: rgb(239, 246, 255);
}

#events-srat .contentRow:nth-child(odd) {
    background-color: rgb(255, 250, 232);
}